services:
  web-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: dockeruser677/ci-cd-test:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always